$grid-gutter: 10px; // espaçamento entre as colunas
$grid-columns: 12; // Quantidade de colunas
$grid-max: 980px; // Tamanho do container

// Código básico das colunas do grid
[class*="grid-"]{
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i}{
    width: 100% / $grid-columns * $i
    }
}

// $themes: (
//   default: (
//     $white: #fff,
//     $gray-5: #fbfbfb, // Background
//     $gray-10: #e0e0e0, // Border
//     $gray-20: #dee0e1,
//     $gray-30: #b1b6b8, // Disabled
//     $gray-50: #858d90, // Secondary
//     $gray-60: #76888c,
//     $gray-70: #344146,
//     $gray-80: #253338, // Text
//     $black: #000,
//     $clover-green: #43b02a, // Primary
//     $clover-blue: #059adb, // Secondary / Links
//     $clover-red: #ff5555, // Error
//     $clover-yellow: #edce3a  // Warning
//   ),
//   high-contrast: (

//   )
// )

