<div class=" col-sm-12 col-md-12 col-ls-12">
  <div *ngFor="let genre of genres">
    <h4 [ngStyle]="{ 'font-size': titleSize + 'px' }">
      {{ genre.name }}
    </h4>
    <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)"
      (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let movie of genre.movies">
          <div class="card movie-card">
            <img class="card-img-top img-sized" [src]="movie.poster_path" />
            <div class="card-body">
              <h5 class="card-title" [ngStyle]="{ 'font-size': titleSize + 'px' }">
                {{ movie.title }}
              </h5>
              <a [ngStyle]="{ 'font-size': fontSize + 'px' }" href="#" class="card-link" data-toggle="modal"
                data-target="#movieDetail" (click)="detailMovie(movie)">Detalhes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </swiper>
  </div>
</div>