.movie-card {
  width: 200px;
  max-width: 200px;
}

.movie-poster {
  max-width: 14em;
}

.img-sized {
  width: 100%;
  height: 14em;
}

.card-scroll {
  position: absolute;
  opacity: 0.8;
  color: #50505077
}

.scroll-right {
  float: right;
  height: 14em;
  z-index: 2;
  position: absolute;
  right: 2rem;
  white-space: nowrap;

  .icon {
    color: white;
    font-size: 5em;
  }
}

.scroll-left {
  float: left;
  height: 14em;
  z-index: 2;
  position: absolute;
  white-space: nowrap;

  .icon {
    color: white;
    font-size: 5em;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 600px;

  .card {
    display: inline-block;
    max-width: 12em;
  }

  .card-title {
    white-space: normal;
    height: 3em;
    line-height: 1em;
    text-overflow: ellipsis;
    display: block;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card-body {
    padding: 1rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
